**.stl
cpu_carrier/**
!cpu_carrier/*.kicad_*
!cpu_carrier/*.ipynb
!cpu_carrier/components
!cpu_carrier/components/custom.**
!cpu_carrier/components/AP64501SP_13
!cpu_carrier/components/AP64501SP_13/**.kicad_**
!cpu_carrier/components/AP64501SP_13/footprints.pretty
!cpu_carrier/components/AP64501SP_13/footprints.pretty/**.kicad_**
!cpu_carrier/components/AP64501SP_13/footprints.pretty/**.step
!cpu_carrier/components/SFW15R_1STE1LF
!cpu_carrier/components/SFW15R_1STE1LF/**.kicad_**
!cpu_carrier/components/SFW15R_1STE1LF/footprints.pretty
!cpu_carrier/components/SFW15R_1STE1LF/footprints.pretty/**.kicad_**
!cpu_carrier/components/SFW15R_1STE1LF/footprints.pretty/**.step
!cpu_carrier/components/SRP7050TA_3R3M
!cpu_carrier/components/SRP7050TA_3R3M/**.kicad_**
!cpu_carrier/components/SRP7050TA_3R3M/footprints.pretty
!cpu_carrier/components/SRP7050TA_3R3M/footprints.pretty/**.kicad_**
!cpu_carrier/components/SRP7050TA_3R3M/footprints.pretty/**.step
!cpu_carrier/components.pretty
!cpu_carrier/components.pretty/**.kicad_**
**/__pycache__/**